html {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
padding: 0;
margin: 0;
    height: 100vh;
    background-color: rgb(241,243,246);
    font-family: sans-serif;

    
}

.image{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.content{
    position: absolute;
    top: 50%;
    left: 65%;
    right: 1%;
    word-break: keep-all;
    display: flex;
    flex-direction: column;
    
}
h1{
    font-weight: bolder;
}
a{
    align-self: center;
    justify-self: center;
}
button{
    
    padding: 15px;
    width: 10rem;

    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(169, 169, 169);
    background-color: white;
    color: black;
    font-weight: bold;
}
button:active{
    scale: 0.95;
}
span {
    font-weight: bolder;
    background: -webkit-linear-gradient(#FE265A, #F064D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .arrow{
    position: absolute;
    top: 70%;
    transform: rotate(10deg);
    left: 86%;
    height: 20%;

  }